.searchbar {
    text-align: center;
    padding: 20px;
    color: #353535;
    background-color: rgb(226, 226, 226);
}

.title {
    padding: 40px 20px 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
    h2 {
        font-size: 29px;
        padding: 0px 20px 20px 20px;
    }
    h3 {
        font-weight: 300;
        font-size: 19px;
        padding-bottom: 30px;
    }
}

.list {
    padding: 35px;
}

.restaurants {
    background-color: #f1f1f1;
    padding: 50px 20px;
        h1 {
            padding-bottom: 20px;
        }
        .card {
            margin: 0px 0px 30px 0px;
            box-shadow: 0px 0px 10px 0px #919191;
            border-radius: 15px;
            background-color: white;
        }
        .card__img {
            height: 170px;
        }
        .card img {
            border-radius: 15px 15px 0px 0px;
            height: 170px;
        }
        .card__description {
            padding: 20px;
            position: relative;
        }
        h3 {
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: 700;
        }
        p {
            font-size: 17px;
            font-weight: 300;
        }
        i {
            position: absolute;
            right: 7%;
            top: 34%;
            font-size: 30px;
            font-weight: 300;
        }
}
.menu {
    background-color: #f1f1f1;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    top: -50px;
    padding: 34px 5% 5% 5%;
    .menu__title {
        padding: 0px 0px 5% 2%;
        font-size: 28px;
        display: flex;
        justify-content: space-between;
        i {
            position: absolute;
            top: 2.5%;
            right: 5%;
        }
    }
    .menu__subtitle {
        font-size: 22px;
        font-weight: 300;
        padding: 30px 0px 5px 0px;
    }
    .menu__line {
        background-color: #99E2D0;
        width: 55px;
        height: 4px;
        margin-bottom: 20px;
    }
    .menu__button {
        display: flex;
        justify-content: center;
        margin: 80px 0px 50px 0px;
    }
}