.loader {
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 1;
        animation: loader 2s 2s forwards;
        background-color: $colorloarder;
    .loader__spinner {
        border: 5px solid rgba(255, 255, 255, 0);
        border-top: 5px solid $color1;
        border-bottom: 5px solid $color2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 5px;
        animation: spin 1.5s linear infinite;
        .loader__spinner__in {
            border: 5px solid rgba(255, 255, 255, 0);
            border-top: 5px solid $color1;
            border-bottom: 5px solid $color2;
            border-radius: 50%;
            width: 33px;
            height: 33px;
            margin: 3px;
            animation: spin 2s linear infinite;
        }
    }
        .loader__text {
            margin: 5px;
            background: linear-gradient(-45deg, $color1, $color2);
            font-size: 40px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}


@keyframes wave {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes loader{
    0%{opacity: 1;}

    100%{opacity: 0;
        visibility: hidden;}
  }

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.searchbar {
    text-align: center;
    padding: 20px;
    color: #353535;
    background-color: rgb(226, 226, 226);
}

.title {
    padding: 40px 20px 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
    h2 {
        font-size: 29px;
        padding: 0px 20px 20px 20px;
    }
    h3 {
        font-weight: 300;
        font-size: 19px;
        padding-bottom: 30px;
    }
}

.list {
    padding: 35px;
}

.restaurants {
    background-color: #f1f1f1;
    padding: 50px 20px;
        h2 {
            padding-bottom: 20px;
        }
        .card {
            margin: 0px 0px 30px 0px;
            box-shadow: 0px 0px 10px 0px #919191;
            border-radius: 15px;
            background-color: white;
            position: relative;
            &__img {
                height: 170px;
                img {
                    border-radius: 15px 15px 0px 0px;
                    height: 170px;
                }
            }
            &__new {
                    background-color: $color3;
                    color: #175344;
                    font-weight: normal;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    padding: 7px 14px;
                    border-radius: 3px;
            }
            &__description {
                padding: 15px;
                display: flex;
                &__text {
                    flex: 1;
                }
                @include heart__transition;
                .white__square {
                    background-color: #fff;
                }
            }
        }
        
        h3 {
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: 700;
        }
        p {
            font-size: 17px;
            font-weight: 300;
        }
        
}

@media only screen and (min-width: 768px) {

    .list h2 {
        padding-bottom: 20px; 
    }

    .step {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 5%;
        .list__button {
            flex-direction: column;
            span {
                position: relative;
                left: 5px;
                top: -35px;
                font-size: 20px;
                height: 35px;
                width: 35px;
            }
            i {
                padding: 0px 0px 0px;
                position: relative;
                left: 5px;
                top: -17px;
                font-size: 27px;
            }
            p {
                padding: 0px 8px;
                text-align: center;
                font-size: 20px;
            }
        }
    }

    .restaurants__card {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 47%);
        column-gap: 6%;
        grid-template-rows: repeat(2,45%);
        row-gap: 10%;
    }
}